/* Pour les pages de remerciement et de bienvenue */

body{
    background-image: url("./image/feux.jpg");
    background-size: cover;
    width: auto;
    height: auto;
    max-width: 100%;
}
.bienvenue{
    text-align: center;
    margin-top: 9em;
    color: rgb(248, 224, 10);
}