/* pour la page principale */
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');

header{
    text-align: center;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}
h3{
    text-align: center;
}
.eau{
    color: blue;
}
.alcool{
    color: darkred;
}
#cont{
    display: flex;
}
.conte{
    display: flex;
}
.vin{
    width: 320px;
    height: 175px;
    
}
.vin2{
    width: 100%;
    height: 100%;
}
.im_alc{
    width: 100%;
    height: 100%;
}
.biere{
    width: 300px;
    height: 350px;
}
.cocktail{
    width: 300px;
    height: 350px;
}
.im2{
    width: 100%;
    height: 100%;
}
#entete{
    text-align: center;
    background-color: azure;
}
.partenaire{
    display: flex;
}
.britt{
    width: 175px;
    height: 125px;
}
.britt2{
    width: 100%;
    height: 100%;
}
.armen{
    width: 175px;
    height: 125px;
}
.armen2{
    width: 100%;
    height: 100%;
}
.anne{
    width: 175px;
    height: 125px;
}
.anne2{
    width: 100%;
    height: 100%;
}
.guinness{
    width: 175px;
    height: 125px;
}
.guinness2{
    width: 100%;
    height: 100%;
}
.arena{
    width: 175px;
    height: 125px;
}
.arena2{
    width: 100%;
    height: 100%;
}
.tarainn{
    width: 175px;
    height: 125px;
}
.tara{
    width: 100%;
    height: 100%;
}
.penalty{
    width: 175px;
    height: 125px;
}
.penalty2{
    width: 100%;
    height: 100%;
}
.res{
    text-align: center;
    text-decoration: underline;
    margin-top: 5%;
}
.imres{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
.ima{
    width: 100%;
    height: 100%;
}
.reso{
    width: 50px;
    height: 50px;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: azure;
}
a{
    text-decoration: none;
    color: blueviolet;
}
.clignote{
    color: darkmagenta;
    animation: clignote 2s linear infinite;
    font-family: 'Island Moments', cursive;
    font-size: 40px;
}
@keyframes clignote{
    50% {opacity: 0;}
}
.citation{
    font-family: 'Island Moments', cursive;
    font-size: 27px;
}